# üöï Divvy trip data exploration üéØ

### Data Acquisition üß∫

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
url_divvy = "../data/202011-divvy-tripdata.csv"
df_divvy = pd.read_csv(url_divvy)

In [3]:
# data preview

print("Preview first 10 rows :")
df_divvy.head()

Preview first 10 rows :

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual

### Data Discovery üî≠

In [4]:
# Get the shape of our dataframe

rows, cols = df_divvy.shape
print("Shape details :")
print("Total rows number is : {}".format(rows))
print("Total columns number is : {}".format(cols))

Shape details :
Total rows number is : 259716
Total columns number is : 13

In [5]:
# Get the size of our datframe

print("The size of our dataframe is : {}".format(df_divvy.size))

The size of our dataframe is : 3376308

In [6]:
# Get the data schema

df_divvy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259716 entries, 0 to 259715
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             259716 non-null  object
 1   rideable_type       259716 non-null  object
 2   started_at          259716 non-null  object
 3   ended_at            259716 non-null  object
 4   start_station_name  235392 non-null  object
 5   start_station_id    235282 non-null  float64
 6   end_station_name    232967 non-null  object
 7   end_station_id      232890 non-null  float64
 8   start_lat           259716 non-null  float64
 9   start_lng           259716 non-null  float64
 10  end_lat             259432 non-null  float64
 11  end_lng             259432 non-null  float64
 12  member_casual       259716 non-null  object
dtypes: float64(6), object(7)
memory usage: 25.8+ MB

In [7]:
# Get columns with number as data type

print("List columns with number as data type :")
df_divvy.select_dtypes(include='number').columns

List columns with number as data type :

Index(['start_station_id', 'end_station_id', 'start_lat', 'start_lng',
       'end_lat', 'end_lng'],
      dtype='object')

In [8]:
# Get columns with object as data type

print("List columns with object as data type :")
df_divvy.select_dtypes(include='object').columns

List columns with object as data type :

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'end_station_name', 'member_casual'],
      dtype='object')

In [9]:
# Get summary statistics

print("Summary statistics for numerical data :")
df_divvy.describe().T

Summary statistics for numerical data :

,count,mean,std,min,25%,50%,75%,max
start_station_id,235282.0,228.658423,163.101465,2.0000,99.000000,198.000000,318.000000,732.000000
end_station_id,232890.0,227.858487,162.256671,2.0000,99.000000,198.000000,315.000000,732.000000
start_lat,259716.0,41.900968,0.047771,41.6485,41.880958,41.898586,41.929645,42.080000
start_lng,259716.0,-87.645232,0.027677,-87.7900,-87.660000,-87.641914,-87.627733,-87.528231
end_lat,259432.0,41.901181,0.047813,41.5400,41.881032,41.898969,41.930000,42.150000
end_lng,259432.0,-87.645463,0.027809,-87.8700,-87.660132,-87.642982,-87.627734,-87.440000

In [10]:
# Get summary statistics

print("Summary statistics for non numerical data :")
df_divvy.describe(include='object').T

Summary statistics for non numerical data :

                     count  unique                  top    freq
ride_id             259716  259716     BD0A6FF6FFF9B921       1
rideable_type       259716       2          docked_bike  151582
started_at          259716  233064  2020-11-07 14:24:58       9
ended_at            259716  231222  2020-11-09 17:02:14       8
start_station_name  235392     665    Clark St & Elm St    2303
end_station_name    232967     657    Clark St & Elm St    2347
member_casual       259716       2               member  171617

In [11]:
# Get the number of start_station
start_station_num = len(df_divvy["start_station_name"].unique())
print("There's {} start_stations in our dataframe".format(start_station_num))

There's 666 start_stations in our dataframe

In [12]:
# Get the number of end_station
end_station_num = len(df_divvy["end_station_name"].unique())
print("There's {} end_stations in our dataframe".format(end_station_num))

There's 658 end_stations in our dataframe

### Data Inspection üî¨

In [13]:
# Check for missing values

print("List columns with null values or not :")
df_divvy.isnull().sum()/len(df_divvy)

List columns with null values or not :

ride_id               0.000000
rideable_type         0.000000
started_at            0.000000
ended_at              0.000000
start_station_name    0.093656
start_station_id      0.094080
end_station_name      0.102993
end_station_id        0.103290
start_lat             0.000000
start_lng             0.000000
end_lat               0.001094
end_lng               0.001094
member_casual         0.000000
dtype: float64

In [14]:
print("Total cells with null values :")
df_divvy.isnull().sum().sum()

Total cells with null values :

102901

In [15]:
# Check for duplicates

print("List columns with duplicates values :")
df_divvy.duplicated().sum()

List columns with duplicates values :

0

### Data wrangling & Cleaning üßΩü™£

In [16]:
# Check data from start_station_name
df_divvy["start_station_name"].sample(n=10)

22269                 Clinton St & Madison St
21190             Racine Ave & Wrightwood Ave
108866                                    NaN
13383               Michigan Ave & Madison St
56316                  Clark St & Randolph St
161208    Mies van der Rohe Way & Chicago Ave
114900                   Clinton St & Lake St
61520                Drake Ave & Montrose Ave
31206               Western Ave & Fillmore St
160090                Broadway & Waveland Ave
Name: start_station_name, dtype: object

In [17]:
# fill unknown start station name
df_divvy["start_station_name"].fillna('Unknown_start', inplace=True)

# fill unknown end station name
df_divvy["end_station_name"].fillna('Unknown_end', inplace=True)

In [18]:
# Check data from start_station_id
df_divvy["start_station_id"].sample(n=5)

68456     148.0
58418     260.0
144087    257.0
217133     61.0
171932     49.0
Name: start_station_id, dtype: float64

In [19]:
# Fill unknown id by 0
df_divvy["start_station_id"].fillna(0, inplace=True)
df_divvy["end_station_id"].fillna(0, inplace=True)

In [20]:
# For coordinates points, we'll drop all null rows inplace
df_divvy.dropna(inplace=True)

In [21]:
print("Last check for null values :")
df_divvy.isnull().sum()/len(df_divvy)

Last check for null values :

ride_id               0.0
rideable_type         0.0
started_at            0.0
ended_at              0.0
start_station_name    0.0
start_station_id      0.0
end_station_name      0.0
end_station_id        0.0
start_lat             0.0
start_lng             0.0
end_lat               0.0
end_lng               0.0
member_casual         0.0
dtype: float64

### Data Reduction üéö‚õìÔ∏è‚Äçüí•

In [22]:
df_divvy.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,110.0,St. Clair St & Erie St,211.0,41.894177,-87.629127,41.894434,-87.623379,casual
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,672.0,Noble St & Milwaukee Ave,29.0,41.890959,-87.635343,41.900675,-87.662480,casual
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,76.0,Federal St & Polk St,41.0,41.880983,-87.616754,41.872054,-87.629550,casual
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,659.0,Stave St & Armitage Ave,185.0,41.895499,-87.682013,41.917744,-87.691392,casual
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,2.0,Buckingham Fountain,2.0,41.876497,-87.620358,41.876448,-87.620338,casual

In [23]:
# Get columns lists

df_divvy.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [24]:
# Keep columns without end and start station id
df_divvy = df_divvy[
    ['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'end_station_name','start_lat', 
       'start_lng', 'end_lat', 'end_lng', 'member_casual']
]
df_divvy.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,St. Clair St & Erie St,41.894177,-87.629127,41.894434,-87.623379,casual
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,Noble St & Milwaukee Ave,41.890959,-87.635343,41.900675,-87.662480,casual
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,Federal St & Polk St,41.880983,-87.616754,41.872054,-87.629550,casual
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,Stave St & Armitage Ave,41.895499,-87.682013,41.917744,-87.691392,casual
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,Buckingham Fountain,41.876497,-87.620358,41.876448,-87.620338,casual

### Features Engineering üß∞ü™õ

In [25]:
df_divvy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259432 entries, 0 to 259715
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             259432 non-null  object
 1   rideable_type       259432 non-null  object
 2   started_at          259432 non-null  object
 3   ended_at            259432 non-null  object
 4   start_station_name  259432 non-null  object
 5   end_station_name    259432 non-null  object
 6   start_lat           259432 non-null  float64
 7   start_lng           259432 non-null  float64
 8   end_lat             259432 non-null  float64
 9   end_lng             259432 non-null  float64
 10  member_casual       259432 non-null  object
dtypes: float64(4), object(7)
memory usage: 23.8+ MB

In [26]:
# Convert start time and end time to datetime64
df_divvy["started_at"] = pd.to_datetime(df_divvy["started_at"])
df_divvy["ended_at"] = pd.to_datetime(df_divvy["ended_at"])

In [27]:
# Check the update
df_divvy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259432 entries, 0 to 259715
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             259432 non-null  object
 1   rideable_type       259432 non-null  object
 2   started_at          259432 non-null  datetime64[ns]
 3   ended_at            259432 non-null  datetime64[ns]
 4   start_station_name  259432 non-null  object
 5   end_station_name    259432 non-null  object
 6   start_lat           259432 non-null  float64
 7   start_lng           259432 non-null  float64
 8   end_lat             259432 non-null  float64
 9   end_lng             259432 non-null  float64
 10  member_casual       259432 non-null  object
dtypes: datetime64[ns](2), float64(4), object(5)
memory usage: 23.8+ MB

In [28]:
# Get only data where ended_at is greater or equal to started_at
df_divvy = df_divvy[(df_divvy["ended_at"] > df_divvy["started_at"]) & (df_divvy["start_station_name"]!="Unknown_start") & (df_divvy["end_station_name"]!="Unknown_end")]

In [29]:
# Compute duration
df_divvy["duration"] = df_divvy["ended_at"] - df_divvy["started_at"]

In [30]:
# Extract started date
df_divvy["started_date"] = pd.to_datetime(df_divvy["started_at"]).dt.date

# Extract started time
df_divvy["started_time"] = pd.to_datetime(df_divvy["started_at"]).dt.time

# Extract started hour
df_divvy["started_hour"] = pd.to_datetime(df_divvy["started_at"]).dt.hour

# Extract ended date
df_divvy["ended_date"] = pd.to_datetime(df_divvy["ended_at"]).dt.date

# Extract ended time
df_divvy["ended_time"] = pd.to_datetime(df_divvy["ended_at"]).dt.time

# Extract ended hour
df_divvy["ended_hour"] = pd.to_datetime(df_divvy["ended_at"]).dt.hour

In [31]:
# Compute minute column
df_divvy["duration_min"] = round(df_divvy["duration"].dt.total_seconds()/60, 2)

# Compute hour column
df_divvy["duration_hour"] = round(df_divvy["duration"].dt.total_seconds()/3600, 2)

In [32]:
df_divvy.sample(n=5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration,started_date,started_time,started_hour,ended_date,ended_time,ended_hour,duration_min,duration_hour
56210,AE992AF5B3A44BBF,docked_bike,2020-11-02 06:53:16,2020-11-02 06:58:41,Carpenter St & Huron St,Morgan St & Lake St,41.894556,-87.653449,41.885483,-87.652305,member,0 days 00:05:25,2020-11-02,06:53:16,6,2020-11-02,06:58:41,6,5.42,0.09
231564,53D8520935AE363A,docked_bike,2020-11-25 17:14:38,2020-11-25 17:21:51,Clark St & Elm St,Clark St & Chicago Ave,41.902973,-87.631280,41.896750,-87.630890,member,0 days 00:07:13,2020-11-25,17:14:38,17,2020-11-25,17:21:51,17,7.22,0.12
210939,755F2689A5988CC0,docked_bike,2020-11-03 15:16:58,2020-11-03 15:29:15,Larrabee St & Division St,Racine Ave & Wrightwood Ave,41.903486,-87.643353,41.928887,-87.658971,member,0 days 00:12:17,2020-11-03,15:16:58,15,2020-11-03,15:29:15,15,12.28,0.20
139564,37447053E09A5B95,docked_bike,2020-11-13 12:19:11,2020-11-13 12:29:03,Peoria St & Jackson Blvd,Peoria St & Jackson Blvd,41.877641,-87.649617,41.877642,-87.649618,member,0 days 00:09:52,2020-11-13,12:19:11,12,2020-11-13,12:29:03,12,9.87,0.16
9194,68778473E3194396,electric_bike,2020-11-06 16:47:16,2020-11-06 17:08:46,Prospect Sq & 91st St,Prospect Sq & 91st St,41.727922,-87.667592,41.727885,-87.667615,casual,0 days 00:21:30,2020-11-06,16:47:16,16,2020-11-06,17:08:46,17,21.50,0.36

In [33]:
df_divvy["started_date"].max()

datetime.date(2020, 11, 30)

### Deal with Outliers ‚öñÔ∏è

In [34]:
# Compute the quantiles and iqr

# get q1
q1 = df_divvy["duration_min"].quantile(.25)

# get q3
q3 = df_divvy["duration_min"].quantile(.75)

# get iqr
iqr = q3 - q1

# get lower bound
lower_dur = q1 - 1 * iqr

# get upper bound
upper_dur = q3 + 1 * iqr

In [35]:
# Apply interquantile to duration_min column
df_divvy= df_divvy[(df_divvy["duration_min"]>= lower_dur) & (df_divvy["duration_min"]<= upper_dur)]

# get the shape
df_divvy.shape

(199087, 20)

In [36]:
df_divvy.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,duration,started_date,started_time,started_hour,ended_date,ended_time,ended_hour,duration_min,duration_hour
0,BD0A6FF6FFF9B921,electric_bike,2020-11-01 13:36:00,2020-11-01 13:45:40,Dearborn St & Erie St,St. Clair St & Erie St,41.894177,-87.629127,41.894434,-87.623379,casual,0 days 00:09:40,2020-11-01,13:36:00,13,2020-11-01,13:45:40,13,9.67,0.16
1,96A7A7A4BDE4F82D,electric_bike,2020-11-01 10:03:26,2020-11-01 10:14:45,Franklin St & Illinois St,Noble St & Milwaukee Ave,41.890959,-87.635343,41.900675,-87.662480,casual,0 days 00:11:19,2020-11-01,10:03:26,10,2020-11-01,10:14:45,10,11.32,0.19
2,C61526D06582BDC5,electric_bike,2020-11-01 00:34:05,2020-11-01 01:03:06,Lake Shore Dr & Monroe St,Federal St & Polk St,41.880983,-87.616754,41.872054,-87.629550,casual,0 days 00:29:01,2020-11-01,00:34:05,0,2020-11-01,01:03:06,1,29.02,0.48
3,E533E89C32080B9E,electric_bike,2020-11-01 00:45:16,2020-11-01 00:54:31,Leavitt St & Chicago Ave,Stave St & Armitage Ave,41.895499,-87.682013,41.917744,-87.691392,casual,0 days 00:09:15,2020-11-01,00:45:16,0,2020-11-01,00:54:31,0,9.25,0.15
4,1C9F4EF18C168C60,electric_bike,2020-11-01 15:43:25,2020-11-01 16:16:52,Buckingham Fountain,Buckingham Fountain,41.876497,-87.620358,41.876448,-87.620338,casual,0 days 00:33:27,2020-11-01,15:43:25,15,2020-11-01,16:16:52,16,33.45,0.56

### Subsetting

In [40]:
total_rides_per_start_station = df_divvy.groupby(["start_lat", "start_lng"])["ride_id"].count().reset_index()
total_rides_per_start_station.head()

   start_lat  start_lng  ride_id
0  41.651867 -87.539671        1
1  41.651924 -87.539630        1
2  41.659158 -87.550770        1
3  41.659161 -87.550849        1
4  41.666288 -87.557098        1